.c{
    color: red;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
   
}
.t1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.c1{
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 500px){
 .navbar{
     width: 700px;
 }
 .t1{
     width: 390px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
 }
}

table h1 {
    display: block;
    font-size: 22px;
    color: #0F3063;
    margin-left: 0;
    margin-right: 0;
}
td { font-size: 20px;}
    h2 { font-size: 28px;}
     li{ font-size: 21px;
        margin-left: 10px;
    }
@media (max-width: 991px){
    td { font-size: 28px;}
     h2 { font-size: 25px;}
    }
@media (max-width: 767px){
     h2 { font-size: 32px;}
    td { font-size: 30px;}
    ul li{ font-size: 30px;}
}