    .admit{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
    }
    .admit li{
        list-style: none;
        font-size: 1.5rem;
    }