*{
    margin: 0;
    padding: 0;
}
/* main section*/
.mainsection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
/* all container decoretion*/
.jobs{
    width: 400px;
    border: 2px solid brown;
}
.admitcard{
    width: 400px;
    border: 2px solid brown;
}
.result{
    width: 400px;
    border: 2px solid brown;
}

.bg{
    background-color: brown;
}
/* utility classes*/
.center{
    text-align: center;
}
.p1{
    font-size: 1.5rem;
    color: white;
}

/* all hyper link setting*/
.jobs ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 10px;
}
.admitcard ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 10px;
}
.result ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 10px;
}
.vi{
   
    font-size: 1.2rem;
    /* font-family: 'Ranchers', cursive; */
}

.vi a{
    font-family: 'Ranchers', cursive;
    text-decoration: none;
}
